doctype html
html
    head
        title jade(pug)
    body
        h1 Hello Pug3
        div.container
            ul#book-list 
                li: a(href="#book-a") Book A
                li: a(href="#book-b") Book B