body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    filter:drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
    $rand : random();
    $range : $min + floor($rand * ($max - $min) + 1);
    @return $range;
}

.snow {
    $total : 1000;
    position : absolute;
    width : 30px;
    height : 30px;
    background-color : orange;
    //border-radius : 50%;
    @for $i from 1 through $total {
        $random-x:random(1000000) * 0.0001vw;
        $random-offset:random_range(-100000, 100000) * 0.0001vw;
        $random-x-end : $random-x + $random-offset;
        $random-x-end-yoyo : $random-x + ($random-offset / 2);
        $random-yoyo-time : random_range(30000, 80000) / 100000;

        $random-yoyo-y : $random-yoyo-time * 100vh;
        $random-y : $random-yoyo-time * 100vh;
        $random-scale : random(10000) * 0.0001;
        $fall-duration : random_range(10, 30) * 1s;
        $fall-delay:random(30) * -1s;
        //$r:random(255);
        //$g:random(255);
        //$b:random(255);
        &:nth-child(#{$i}) {
            opacity : random(10000) * 0.0001;
            transform : translate($random-x, -10px) scale($random-scale);
            animation : fall-#{$i} $fall-duration $fall-delay linear infinite; // infinite - 애니메이션 실행 횟수 : 무한
            //background-color: rgb($r, $g, $b);
        }
        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {  // 시작
                transform : translate($random-x-end-yoyo, $random-y) scale($random-scale);
            }
            to {                                // 끝
                transform : translate($random-x-end, 100vh) scale($random-scale);
            }
        }
    }
}