$normal : #333;
$hover : deeppink;
$active : deepskyblue;

.menu {
    clear:both;
    width:600px;
    margin:20px auto;
    ul {
        list-style:none;
        margin:20px auto;
        padding:12px;
        li {
            display:inline-block;
            margin:10px;
            a {
                display:block;
                text-decoration:none;
                padding:6px 10px;
                background-color:$normal;
                color:#fff;
                &:hover {
                    background-color:$hover;
                }
                &:active {
                    background-color:$active;
                }
            }
        }
    }
}